@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$primary-color: #2fa8cc;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#header {
  width: 100%;
  margin-bottom: 1.5rem;
}

footer {
  background-color: $secondary-color;
  color: #333;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 1.5rem;
}

.container {
  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: $box-shadow;
  padding: 0 0 1.5rem;
  text-align: center;
  max-width: 100%;
  width: 25rem;
}

h1 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
}

#logo {
  width: 8rem;
}

// navbar css
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;
  padding: 10px 20px;
}

.navbar a {
  color: #333;
  text-decoration: none;
  padding: 8px 16px;
  display: block;
}

.navbar a:hover {
  background-color: #575757;
  color: #fff;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar .menu {
  display: flex;
}

.navbar .menu a {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .navbar .menu {
    flex-direction: column;
    display: none;
  }

  .navbar .menu a {
    margin-left: 0;
    padding: 10px;
    border-top: 1px solid #575757;
  }

  .navbar .menu-icon {
    display: block;
    cursor: pointer;
  }
}

.menu-icon {
  display: none;
  font-size: 24px;
  color: #333;
}
